
/*Page Text and Body CSS*/

body {
    background-color:rgb(102, 159, 233);
}

h1 {
    font-family:sans-serif;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

h2,h3,p,figcaption {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: honeydew;
}

.SectionName {
    margin-left: 10%;
}

/*Frame CSS*/

.ThyContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.FrameTitle {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.AboutMe {
    width: 70%;
    background-color: rgba(240, 255, 255, 0.13);
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 600px;
    margin-top: 30px;
}

.Availibility {
    width: 30%;
    background-color: rgba(240, 255, 255, 0.13);
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 600px;
    margin-top: 30px;
}

.Past-Works {
    background-color: rgba(240, 255, 255, 0.13);
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 800px;
    max-height: 500px;
    margin-top: 30px;

    margin-left: 5%;
    overflow-y: scroll;
    margin-right: auto;
}

.PaymentInfo {
    background-color: rgba(240, 255, 255, 0.13);
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 600px;
    
    /*margin-top: 50px;*/
    /*margin-left: 10%;*/
    margin: auto;
    flex-grow: .5;
}

.Contact-Info {
    background-color: rgba(240, 255, 255, 0.13);
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 600px;

    /*margin-top: 30px;*/
    /*margin-left: 10%;*/
    flex-grow: .7;
}

.CommissionsPriceFrame {
    background-color: rgba(240, 255, 255, 0.13);
    border-radius: 25px;
    padding: 2%;
    max-width: 400px;
    margin-bottom: 25px;
}

.JobType {
    display: inline-block;
    width: 40%;
}

.JobPrice {
    display: inline-block;
    text-align: right;
    width: 60%;
}

.PastWorkMedia {
    background-color: rgba(240, 255, 255, 0.13);
    border-radius: 25px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    color: rgb(5, 34, 53);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Events and stuff*/

a {
    color: paleturquoise;
}

a:hover{
    color: aliceblue;
}