/* epic comment */

html{
    height: 100%;
}

* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

u{
    text-decoration-color: beige;
    text-decoration-thickness: 5px;
}

body{
    /*background-color: darkblue;*/
    background-image: linear-gradient(to bottom, rgb(69, 143, 196), rgb(22, 108, 174));
    background-repeat: repeat
}

/*Classes*/

.Title{
    color: white;
    text-align: center;
}

.Sections{
    color: whitesmoke;
}

.RegText{
    color: rgb(230, 230, 230);
}

.Grid-Container{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.About-Me{
    background-color: rgb(21, 97, 97);
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.Availibility{
    background-color: rgb(21, 97, 97);
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.Past-Work{
    background-color: rgb(21, 97, 97);
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.Payment-Info{
    background-color: rgb(21, 97, 97);
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

.Contact-Info{
    background-color: rgb(21, 97, 97);
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}
